<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758299695637-fqqt5dvjn181vinu64p9j8q991mbimfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758299695637-fqqt5dvjn181vinu64p9j8q991mbimfd</string>
	<key>API_KEY</key>
	<string>AIzaSyDsmcS3GGmPG93PHt_SPfP9fULeHcfzUoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>758299695637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enhanceit.com.ChatApp2</string>
	<key>PROJECT_ID</key>
	<string>chat-application-81dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-application-81dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758299695637:ios:3ab57f669c1f36792acc1c</string>
</dict>
</plist>